.pas-grid-container {
  display: inline-grid;
  grid-template-columns: auto auto auto;
  background-color:rgb(255,255,240);
  padding: 10px;
  width:100%;
}
.pas-grid-item {
  background-color: rgba(255, 255, 255, 1);
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 20px;
  font-size: 14px;
  text-align: left;
}
.parentTheme {
	font-size:18pt;
	font-weight:bold;
	font-variant:small-caps;
	text-align:center;
}
.pasChildTheme_HDR {
	font-size:24pt;
	font-weight:bold;
	font-variant:small-caps;
	text-align:center;
	width:100%;
	color:990000;
}
#actionBox {
	position:fixed;
	top:50%;
	left:50%;
	margin-top:-250px;
	margin-left:-400px;
	width:800px;
	height:500px;
	background-color:rgba(255,255,240,1);
	border:solid 1pt black;
	font-size:8pt;
	color:black;
	display:inline;
	visibility:visible;
}
.pasChildTheme_boxHeader {
	font-size:18pt;
	font-weight:bold;
	text-align:center;
	width:100%;
	display:inline;
	visibility:visible;
}
.innerCellLeft {
	text-align:left;
	font-size:12pt;
}

.clt, .clt ul, .clt li {
     position: relative;
}

.pasChildThemes_directory {
	font-style:italic;
	font-size:14pt;
	color:#990000;
}

.clt ul {
    list-style: none;
    padding-left: 32px;
}
.clt li::before, .clt li::after {
    content: "";
    position: absolute;
    left: -12px;
}
.clt li::before {
    border-top: 1px solid #000;
    top: 9px;
    width: 8px;
    height: 0;
}
.clt li::after {
    border-left: 1px solid #000;
    height: 100%;
    width: 0px;
    top: 2px;
}
.clt ul > li:last-child::after {
    height: 8px;
}
